@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
html{
    scroll-behavior: smooth ;
}
body{
    margin: 0;
    padding: 0;
}
#pg_0{
    height: 780px;
    background-color: #0a253b;
}
header{
    display: flex;
    flex-direction: row;
    border-bottom:solid .5px rgba(255, 255, 255, .1);
    height: 80px;
    align-items: center;
    padding-left: 120px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    justify-content: space-between;
    font-size: 20px;
}
a .logo{
    height: 30px;
}
header a{
    height: 30px;
}
header button{
    float: right;
    height: 50px;
    width: 120px;
    background-color: unset;
    color: white;
    border:solid .5px rgba(255, 255, 255, .1);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin-right: 120px;
    border-radius: 5px;
    transition: .3s;
}
.header_space{
    display: flex;
    flex-direction: row;   
    align-items: center;
}
.head_title li{
    margin-right: 50px;
    list-style: none;
    font-size: 18px;
}
.head_title li a{
    text-decoration: none;
    color: white;
}
.head_title ul{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.description{
    font-family: 'Nunito Sans', sans-serif;
    width: 550px;
    padding: 0;
}
.description p:nth-child(1){
    letter-spacing: 1.6px;
    color: whitesmoke;
    opacity: .5;
    font-weight: bold;
    margin: 0;
    font-size: 24px;
}
.description h1{
    font-size: 72px;
    margin: 0;
    color: white;
    line-height: 60px;
    margin:40px 0;
}
#video button{
    padding: 15px 25px;
    font-size: 16px;
    border: 0;
    background-color: whitesmoke;
    border: white 1px solid;
    color: #0a253b;
    border-radius: 5px;
    transition: all .3s;
}
#video button:hover{
    background-color: unset;
    color: white;
}
.content{
    margin-top: 100px;
}
.image img{
    height: 524px;
    width: 658px;
}
.content button{
    padding: 15px 25px;
    font-size: 16px;
    border: 0;
    background-color: whitesmoke;
    border: white 1px solid;
    color: #0a253b;
    border-radius: 5px;
    transition: all .3s;
    margin-top: 25px;
}
.content button:hover{
    background-color: unset;
    color: white;
}
.pg-1{
    height: 2600px;
    background-color: #f5ffff;
    margin: 0;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    margin-left: 150px;
    border-bottom: 2px rgb(180, 180, 180) solid;
    width: 1200px;
}
.content_2{
    width:450px;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 100px;
}
.content_1 h1,.content_2 h1{
    font-size: 52px;
    margin: 0;
    color: #0b253c;
    line-height: 60px;
    margin-top:20px ;
}
.content_1 p, .content_2 p{
    font-size: 22px;
    color: #0b253c;
}
footer{
    height: 720px;
    background-color: #0b253c;
    font-family: 'Nunito Sans', sans-serif;
}
.email{
    width: 100%;
    padding:120px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email h1{
    color: whitesmoke;
    width: 430px;
    font-size: 45px;
    text-align: center;
}
.email input,.email button{
    width: 430px;
    height: 45px;
    padding: 0;
    margin-bottom: 15px;
}
.footer_titles img:nth-child(3){
    height: 20px;
}
.footer_titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px 20px 160px;
}
.footer_titles ul{
    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content: space-between;
    padding: 0;
}
.footer_titles li{
    list-style: none;
    color: white;
    font-size: 18px;
}
.email input{
    border-radius: 5px;
    border: 0;
}
.email button{
    background-color: #1fc1c3;
    border: 0;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 5px;
}
.email input::placeholder{
    font-size: 16px;
}
.copyright{
text-align: center;
}
.copyright p{
    color: white;
    opacity: .5;
    font-size: 10px;
}
.arrow4{
    position: absolute;
    margin-left: 1180px;
    margin-top: 300px;
}
.arrow4 img{
    height: 25px;
    transform: rotate(90deg);
    
}