@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
html{
    scroll-behavior: smooth ;
}
body, .pg_0{
    margin: 0;
    padding: 0;
    
}
header{
    display: flex;
    flex-direction: row;
    border-bottom:solid .5px rgba(255, 255, 255, .1);
    height: 80px;
    align-items: center;
    padding-left: 120px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    justify-content: space-between;
    font-size: 20px;
}
#pg_0{
    height: 860px;
    background-color: #0a253b;
}
.logo{
    height: 30px;
}
header button{
    float: right;
    height: 50px;
    width: 120px;
    background-color: unset;
    color: white;
    border:solid .5px rgba(255, 255, 255, .1);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin-right: 120px;
    border-radius: 5px;
    transition: .3s;
}
.header_space{
    display: flex;
    flex-direction: row;   
    align-items: center;
}
.head_title li{
    margin-right: 50px;
    list-style: none;
    font-size: 18px;
}
.head_title li a{
    text-decoration: none;
    color: white;
}
.head_title ul{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.description h1,.description p{
    color: white;
    line-height: 1.2;
}
.description{
    width: 500px;
    height: 400px;
    margin: 60px 0 0 170px;
}
.description h1{
    font-size: 72px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
}
.description p{
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.3;
}
.fp_content{
    display: flex;
    flex-direction: row;
}
.login{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 370px;
    width: 430px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 50px 0 0 30px;
    border-radius: 5px;
    margin:60px 0 0 170px ;
}
.login input{
    width: 400px;
    height: 40px;
    margin-bottom: 20px ;
    font-family: 'Nunito Sans', sans-serif;
    border: #dde9e9 solid .5px;
    border-radius: 5px;
}
.login input::placeholder{
font-size: 16px;
}
.login button{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #1fc1c3;
    color: white;
    border: 0;
    font-size: 18px;
    letter-spacing:1.5px;
    border-radius: 5px;

}
.login h3{
    margin :0;
    font-weight: bold;
    font-size: 22px;
}
.login p {
    opacity: .5;
}
#sc_pg{
    height: 860px;
    background-color: #f7ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 0 120px
}
.arrow img{
    height: 25px;
    transform: rotate(-90deg);
    margin-left: 150px;
    margin-top: 150px;
    transition: .3s;
}
.arrow2 img{
    height: 25px;
    transform: rotate(-90deg);
}
.arrow2{
    position: absolute;
    margin-left: 1220px;
    margin-top: 600px;
}
.arrow3 img{
    height: 25px;
    transform: rotate(-90deg);
      
}
.arrow3{
    position: absolute;
    margin-top: 600px;
}
.arrow4 img{
    height: 25px;
    transform: rotate(90deg);
    
}
.arrow4{
    position: absolute;
    margin-left: 1180px;
    margin-top: 300px;
}
.sc_img img{
    height: 584px;
    width: 668px;
}
.sc_content{
    font-family: 'Nunito Sans', sans-serif;
    width: 550px;
    padding: 0;
}
.sc_content h1{
    font-size: 52px;
    margin: 0;
    color: rgba(0, 0, 0, .8);
    line-height: 60px;
    margin-top:20px ;
}
.sc_content p:nth-child(3){
    font-size: 22px;
    color: #0b253c;
}
.sc_content p:nth-child(1){
    letter-spacing: 1.6px;
    color: #0b253c;
    opacity: .3;
    font-weight: bold;
    margin: 0;
}
.sc_content button{
    padding: 15px 25px;
    font-size: 16px;
    border: 0;
    background-color: #0b253c;
    color: white;
    border-radius: 5px;
    transition:all .3s;
    
}
.sc_content button:hover{
    transform: scale(1.1,1.1);
    transform-origin:center;
}
#td_pg{
    height: 860px;
    background-color: #0a253b;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 0 120px
}
.td_img img{
    height: 584px;
    width: 668px;
}
.td_content{
    font-family: 'Nunito Sans', sans-serif;
    width: 430px;
    padding: 0;
}
.td_content h1{
    font-size: 52px;
    margin: 0;
    color: white;
    line-height: 60px;
    margin-top:20px ;
}
.td_content p:nth-child(3){
    font-size: 22px;
    color: whitesmoke;
}
.td_content p:nth-child(1){
    letter-spacing: 1.6px;
    color: whitesmoke;
    opacity: .5;
    font-weight: bold;
    margin: 0;
}
.td_content button{
    padding: 15px 25px;
    font-size: 16px;
    border: 0;
    background-color: whitesmoke;
    color: #0a253b;
    border-radius: 5px;
    transition: all .3s;
    
}
.td_content button:hover{
    transform: scale(1.1,1.1);
    transform-origin:center;
}
#ft_pg{
    height: 860px;
    background-color: #f7ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 0 120px
}
.ft_img img{
    height: 584px;
    width: 668px;
}
.ft_content{
    font-family: 'Nunito Sans', sans-serif;
    width: 480px;
    padding: 0;
}
.ft_content h1{
    font-size: 52px;
    margin: 0;
    color: rgba(0, 0, 0, .8);
    line-height: 60px;
    margin-top:20px ;
}
.ft_content p:nth-child(3){
    font-size: 22px;
    color: #0b253c;
}
.ft_content p:nth-child(1){
    letter-spacing: 1.6px;
    color: #0b253c;
    opacity: .3;
    font-weight: bold;
    margin: 0;
}
.ft_content button{
    padding: 15px 25px;
    font-size: 16px;
    border: 0;
    background-color: #0b253c;
    color: white;
    border-radius: 5px;
    transition: all .3s;
}
.ft_content button:hover{
    transform: scale(1.1,1.1);
    transform-origin:center;
}
footer{
    height: 720px;
    background-color: #0b253c;
    font-family: 'Nunito Sans', sans-serif;
}
.email{
    width: 100%;
    padding:120px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email h1{
    color: whitesmoke;
    width: 430px;
    font-size: 45px;
    text-align: center;
}
.email input,.email button{
    width: 430px;
    height: 45px;
    padding: 0;
    margin-bottom: 15px;
}
.footer_titles img:nth-child(3){
    height: 20px;
}
.footer_titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px 20px 160px;
}
.footer_titles ul{
    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content: space-between;
    padding: 0;
}
.footer_titles li{
    list-style: none;
    color: white;
    font-size: 18px;
}
.email input{
    border-radius: 5px;
    border: 0;
}
.email button{
    background-color: #1fc1c3;
    border: 0;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 5px;
}
.email input::placeholder{
    font-size: 16px;
}
.copyright{
text-align: center;
}
.copyright p{
    color: white;
    opacity: .5;
    font-size: 10px;
}